---
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import dragon from "../assets/dragon.png";
import "./projects.css";
// Supports weights 100-700
import "@fontsource-variable/space-grotesk";
---

<html lang="en">
  <head>
    <title>Dragon Battle RPG</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="container">
      <div transition:name="dragon"></div>
      <Image class="project-tile" src={dragon} alt="project image" />
      <div class="text">
        <h1>Dragon Battle RPG</h1>
        <p>This game was made using javascript.</p>
      </div>
    </div>
  </body>
</html>
