---
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import dragon from "../assets/dragon.png";
import "./projects.css";
// Supports weights 100-700
import "@fontsource-variable/space-grotesk";
---

<html lang="en">
  <head>
    <title>Dragon Battle RPG</title>
    <ViewTransitions />
  </head>
  <body>
    <a href="https://jentyler.dev"><span class="back-arrow"></span></a>
    <div class="container" transition:name="walk">
      <Image class="project-tile" src={dragon} alt="project image" />
      <div class="text">
        <h1>Dragon Battle RPG</h1>
        <p>
          Can you defeat the dragon in this RPG web game? Using freeCodeCamp's
          certification course for <a
            href="https://www.freecodecamp.org/learn"
            class="links">JavaScript Algorithms and Data Structure</a
          >, I was able to follow along to build the majority of the
          role-playing game. This project utilizes many of the most popular and
          useful elements of javascript such as arrays, objects, and loops.<br
          />
          <br /> After completing the course project, I decided to alter some aspects
          of the game to make the playing experience more consistent and fun. I also
          decided to add visuals to the game using Dall-E 3. Simple changes and creative
          additives made this game more unqiuely my own and improved overall player
          experience.
        </p>
        <a href="https://chickenjenders.github.io/dragonbattle/" target="_blank"
          ><button type="button" class="game-button">Play Now!</button></a
        >
      </div>
    </div>
  </body>
</html>
