---
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import masks from "../assets/PASSWORD.png";
import "./projects.css";
// Supports weights 100-700
import "@fontsource-variable/space-grotesk";
---

<html lang="en">
  <head>
    <title>Guilty Masks</title>
    <ViewTransitions />
  </head>
  <body>
    <a href="https://jentyler.dev"><span class="back-arrow"></span></a>
    <div class="container">
      <div transition:name="masks"></div>
      <Image class="project-tile" src={masks} alt="project image" />
      <div class="text">
        <h1>Guilty Masks</h1>
        <p>
          Unmask your friends' secrets in this CYOA Twine game! For my graduate
          course project, I created a choose-your-own-adventure story using
          Twine. The story revolves around the player going to their friend's
          birthday party, but realize quickly that something is wrong. Your
          friend has left behind a strange letter to let you and the rest of the
          guests know that she has learned of one of your betrayals. She knows
          your secrets and she's blackmailing all of you into coming clean about
          who went behind her back. Figure out what's at stake, or don't, either
          way someone will have to take the blame. This was a really fun project
          I made utlizing HTML, CSS, and even javascript aspects of Twine's
          SugarCube format. I also was able to add fun and unique images to the
          game using Dall-E 3. I'd really love to expand more on this project
          and make it even more interactive with more twists and turns to the
          story plot. Currently, there are 6 endings, which one will you end on?
        </p>
        <a href="https://chickenjenders.github.io/guiltymasks/" target="_blank"
          ><button type="button" class="game-button">Play Now!</button></a
        >
      </div>
    </div>
  </body>
</html>
