---
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import masks from "../assets/PASSWORD.png";
import "./projects.css";
// Supports weights 100-700
import "@fontsource-variable/space-grotesk";
---

<html lang="en">
  <head>
    <title>Guilty Masks</title>
    <ViewTransitions />
  </head>
  <body>
    <a href="https://jentyler.dev"><span class="back-arrow"></span></a>
    <div class="container">
      <div transition:name="masks"></div>
      <Image class="project-tile" src={masks} alt="project image" />
      <div class="text">
        <h1>Guilty Masks</h1>
        <p>
          Unmask your friends' secrets in this CYOA Twine game! This game was
          made using Twine.
        </p>
        <a href="https://chickenjenders.github.io/guiltymasks/" target="_blank"
          ><button type="button" class="game-button">Play Now!</button></a
        >
      </div>
    </div>
  </body>
</html>
