body {
  background-color: #1a2930;
  color: #f0f7f4;
  font-family: "Space Grotesk Variable", sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.project-tile {
  height: 500px;
  width: 500px;
  margin: 20px;
}
