body {
  background-color: #1a2930;
  color: #f0f7f4;
  font-family: "Space Grotesk Variable", sans-serif;
  align-items: center;
}

.project-tile {
  height: 500px;
  width: 500px;
  margin: 20px;
  border-radius: 6px;
}

.container {
  display: flex;
  text-decoration: none;
  padding-top: 10px;
}

.text {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.game-button {
  font-family: "Space Grotesk Variable", sans-serif;
  background-color: #b26e63;
  color: #f0f7f4;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  font-size: 15px;
}

.game-button:hover {
  background-color: #ff9b71;
}

.back-arrow {
  filter: invert();
  align-items: left;
  width: 35px;
  height: 35px;
}

.back-arrow:hover {
  filter: invert(0);
}
