---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import roamer from "../assets/roamer.png";
import "../projects.css";
import "@fontsource-variable/space-grotesk";
---

<Layout title="Roamer">
  <a href="https://jentyler.dev"><span class="back-arrow"></span></a>
  <div class="container" transition:name="walk">
    <Image class="project-tile" src={roamer} alt="project image" />
    <div class="text">
      <h1>Roamer</h1>
      <p>
        Are you tired of planning your own vacations? Well, Roamer can help with
        that! Answer all the questions about your dream vacation preferences and
        Roamer will generate your very own vacation plan! <br />
        <br />
        Roamer is a website I built to utlize AI in web development and content creation.
        I used Gemini Advanced to generate the questions that would produce the best
        results for vacation plans and implemented them into a form. <br />
        <br /> The form then sends the answers to OpenAI's GPT 3.5 API to create
        a customized vacation plan for each user's preferences. It is currently hosted
        on Vercel and available to use for now, but will be temporarily unpublished
        until the backend is built for necessary security.
      </p>
      <a href="https://roamer-eight.vercel.app/" target="_blank"
        ><button type="button" class="game-button">Try Now!</button></a
      >
    </div>
  </div>
</Layout>
