---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import dragon from "../assets/shattered.png";
import "../projects.css";
import "@fontsource-variable/space-grotesk";
---

<Layout title="Shattered">
  <a href="https://jentyler.dev"><span class="back-arrow"></span></a>
  <div class="container" transition:name="walk">
    <Image class="project-tile" src={dragon} alt="project image" />
    <div class="text">
      <h1>Shattered</h1>
      <p>
        Shattered is a game about how society makes us feel like we aren't
        beautiful enough unless we buy all the trendiest things. The player will
        continue to accept more stuff, but not feel like its making any
        difference. It becomes too much until you can finally be happy as you
        are. <br />
        <br /> I made this game in Godot game engine and drew the pixel art in Procreate.
        The mechanics center around pressing certain keys to progress, but it will
        eventually become impossible to press all the keys needed to improve your
        appearance. This game was made in my Digital Media Master's program for an
        assignment centering around games with important meanings regarding society.
      </p>
      <a href="https://chickenjenders.itch.io/shattered" target="_blank"
        ><button type="button" class="game-button">Play Now!</button></a
      >
    </div>
  </div>
</Layout>
