body {
  background-color: #1a2930;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  margin: 20px;
}

.profile {
  text-align: center;
  width: 30%;
}

.profile-image {
  background-color: #ddd;
  height: 200px;
  width: 200px;
  margin: 20px auto;
  border-radius: 50%;
}

.project-image {
  height: 250px;
  width: 250px;
  margin: 10px;
  display: flex;
}

.projects {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
  width: 75%;
  text-decoration: none;
}

a {
  color: #ffffff;
}

.project-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

* {
  box-sizing: border-box;
}
