body {
  background-color: #282c34;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  margin: 20px;
}

.profile {
  text-align: center;
  width: 30%;
}

.profile-image {
  background-color: #ddd;
  height: 200px;
  width: 200px;
  margin: 20px auto;
  border-radius: 50%;
}

.content {
  display: inline;
  margin: 20px;
  align-items: right;
}
.project {
  display: flex;
  margin: 0, 20px;
}

.project-tile {
  height: 200px;
  width: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
}
