---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import escape from "../assets/escape.png";
import "../projects.css";
import "@fontsource-variable/space-grotesk";
---

<Layout title="Sweet Escape">
  <a href="https://jentyler.dev"><span class="back-arrow"></span></a>
  <div class="container" transition:name="walk">
    <Image class="project-tile" src={escape} alt="project image" />
    <div class="text">
      <h1>Sweet Escape</h1>
      <p>
        You'll do anything to secure yourself the grand prize for selling the
        most girl scout cookies, even if it means breaking and entering. Once
        you're in, you'll have to solve puzzles to find your way back out. Can
        you make it out and sell the rest of your cookies? <br /><br />
        Sweet Escape is a point-and-click style escape room game made with JavaScript
        using P5.js and contains 2 endings (one better than the other). ChatGPT 3.5
        was used in assistance with code editing and debugging, and all images created
        were generated with DALL-E 3.
      </p>
      <a href="https://chickenjenders.github.io/sweetescape/" target="_blank"
        ><button type="button" class="game-button">Play Now!</button></a
      >
    </div>
  </div>
</Layout>
