---
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import escape from "../assets/escape.png";
import "./projects.css";
// Supports weights 100-700
import "@fontsource-variable/space-grotesk";
---

<html lang="en">
  <head>
    <title>Sweet Escape</title>
    <ViewTransitions />
  </head>
  <body>
    <a href="https://jentyler.dev"><span class="back-arrow"></span></a>
    <div class="container" transition:name="walk">
      <Image class="project-tile" src={escape} alt="project image" />
      <div class="text">
        <h1>Sweet Escape</h1>
        <p>
          Sweet Escape is a point-and-click style escape room game where the
          player is a girl scout desperately trying to sell all her cookies,
          even if it means breaking and entering. After find a way into the
          house, the player must solve puzzles to find their way back out while
          also trying to figure out how to sell their cookies. The game is
          completely made in JavaScript using P5.js and contains 2 endings (one
          better than the other). AI involvement includes using chatGPT for code
          debugging and all game images generated using DALL-E 3.
        </p>
        <a href="https://chickenjenders.github.io/sweetescape/" target="_blank"
          ><button type="button" class="game-button">Play Now!</button></a
        >
      </div>
    </div>
  </body>
</html>
