---
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import walking from "../assets/walking.png";
import "./projects.css";
// Supports weights 100-700
import "@fontsource-variable/space-grotesk";
---

<html lang="en">
  <head>
    <title>Walking Game</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="container">
      <div transition:name="walk"></div>
      <Image class="project-tile" src={walking} alt="walking game image" />
      <div class="text">
        <h1>Why Walk?</h1>
        <p>This game was made using P5.js.</p>
      </div>
    </div>
  </body>
</html>
